<div class="container animated fadeIn fast">
    <h1>{{heroe.nombre | uppercase}} </h1><small>{{heroe.aparicion | date:'y'}} </small>
    <hr>
    <div class="row animated fadeIn">
        <div class="col-md-4">
            <img [src]="heroe.img" class="img-fluid"/>
            <br><br>
            <button class="btn-outline-primary btn-block" [routerLink]="['/heroes']">Back to Heroes</button>
        </div>
        <div class="col-md-8">
            <h4>{{heroe.nombre}}</h4>
            <br>
            <p class="text-justify">{{heroe.bio}}</p>
            <div>
                <img *ngIf="heroe.casa == 'DC'" src="assets/img/dc.png" class="imgLogo"/>
                <img *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel.png" class="imgLogo"/>
            </div>
        </div>
    </div>
</div>
